* {
    margin: 0;
}

.site {
    width: 100%;
    height: 3218px;
    background-color: #FEFBF1;
}

.navbar {
    width: 100%;
    height: 61px;
    position: relative;
    top: 7px;

}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.navbar-text span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.box-1 {
    width: 100%;
    height: 695px;
}

.box-1 #bussines {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 44px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    left: 72px;
    color: #703412;
    width: 100%;

}

.box-1 #founders {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    left: 72px;
    color: #703412;
    width: 100%;


}

.parent {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    justify-content: space-between;
}

.div {
    width: 33%;

}


.div4 {
    grid-row-start: 2;
}

.div5 {
    grid-row-start: 2;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 3;
}

.div8 {
    grid-row-start: 3;
}

.div9 {
    grid-row-start: 3;
}

#Explore {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    position: absolute;
    top: 532px;
    left: 100px;
    color: #703412;
}

.footer {
    width: 100%;
    height: 844px;
    top: 2574px;
    opacity: 1;
    background-color: #084935;
    position: relative;
    top: 285px;
    color: #FFFFFF;
}

#qwe {
    width: 67px;
    height: 18px;
    top: 100px;
    left: 72px;
    opacity: 1;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
}

#qwqe {
    width: 711px;
    height: 39px;
    position: absolute;
    top: 130px;
    left: 72px;
    opacity: 1;
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    line-height: 38.4px;
    letter-spacing: 0%;


}

.parent1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0%;
    position: absolute;
    top: 300px;
    left: 70px;
    border-radius: 1px solid;
}


.div2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.div5 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.div6 {
    grid-column-start: 1;
    grid-row-start: 6;
}

.div7 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.div8 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div9 {
    grid-column-start: 4;
    grid-row-start: 1;
}

.div10 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div11 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div12 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div13 {
    grid-column-start: 4;
    grid-row-start: 3;
}

#ppp {
    width: 169;
    height: 24;
    top: 3168px;
    left: 72px;
    opacity: 1;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    position: absolute;
    top: 750px;
}
hr{
    position: relative;
    top: 700px;
}